:root{
    --main-color: #1c6ee9;
    --main-hover: hsl(216, 60%, 30%);
    --main-dark1: #132b4e;
    --main-soft: #61e1f8;
    --main-backgrond: #0b1421;
    --chat-backgrond: #121e30;
    --header-background:#132b4e;
    --font1-color: #f5f5f5;
    --font2-color: #dbdbdb;
    --text-chat-size:1.2rem;
    --subtitle-size: 1.4rem;
    --text-size:1.2rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

.wrapper{
    background-color: var(--main-backgrond);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px auto;
}
.wrapper > section{
    color: white;
}
.chatbot-header{
    grid-column: 1/ span 3;
    width: 100%;
    background-color: var(--header-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-logo{
    width: 500px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.chatbot-logo img{
    width: 50px;
    height: 50px;
}

.chatbot-header h1{
    color: var(--font1-color);
    text-align: center;
}

.drawer{
    display: none;
}
.drawer-container{
    width: 100%;
    display: none;
    position: absolute;
    padding-top: 80px;
    height: 100vh;
    z-index: 3;
    background-color: var(--main-backgrond);
}

.chat-container{
    grid-column: 2;
    background-color: var(--chat-backgrond);
    width: 700px;
    position: relative;
    justify-self: center;
}
.chat-form{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 10px 10px 20px;
    background-color: var(--chat-backgrond);
}
.chat-container input{
    border-radius: 5px;
    border: 1px solid #eee;
    flex: 1;
    margin: 4px;
    padding: 8px;
    font-size: 1.4rem;
}
.chat-container button{
    padding: 10px 16px;
    font-size: 1.4rem;
    background: var(--main-color);
    color: var(--font1-color);
    border: 0;
    margin: 4px;
    border-radius: 4px;
    transition: all 200ms;
}
.chat-container button:hover{
    background-color: var(--main-hover);
}

.messages-container{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 80vh;
}


.messages-container::-webkit-scrollbar{
    width: 10px;
}

.messages-container::-webkit-scrollbar-track{
    background-color: var(--chat-backgrond);
    height: 30px;
}
.messages-container::-webkit-scrollbar-thumb{
    background-color: var(---main-dark1);
}

.message{
    padding: 15px;
    font-size: var(--text-chat-size);
    background-color: grey;
    color: var(--font1-color);
}
.user-message{
    background-color: var(--main-color);
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
}
.bot-message{
    background-color: var(--main-dark1);
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    display: flex;
    gap: 20px;
}
.bot-message img{
    justify-self: flex-start;
    width: 40px;
    height: 40px;
}

.loader-container{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 100px;
    z-index: 1;
}

.scroll-custom::-webkit-scrollbar{
    width: 10px;
}
.scroll-custom::-webkit-scrollbar-track{
    background-color: var(--main-backgrond);
    border-radius: 10px;
    height: 30px;
}
.scroll-custom::-webkit-scrollbar-thumb{
    background-color: var(--main-hover);
}


/* === Section INFO === */
.chatbot-info-container{
    padding: 20px;
    overflow-y: scroll;
}


.chatbot-info-container h2{
    font-size: var(--subtitle-size);
    color: var(--main-soft);
}
.chatbot-info-container h3{
    font-size: var(--text-size);
    color: var(--font1-color);
    margin-bottom: 8px;
}
.chatbot-info-container h4{
    font-size: var(--text-chat-size);
}
.chatbot-info-container p{
    font-size: var(--text-size);
    color: var(--font2-color)
}
/* === Section QUESTIONS === */

.chatbot-questions-container{
    padding: 20px;
    overflow-y: scroll;
}
.chatbot-questions-container h2{
    font-size: var(--subtitle-size);
    color: var(--main-soft);
}
.chatbot-questions-container p, li{
    font-size: var(--text-size);
    color: rgb(228, 228, 228);
}
.chatbot-questions-container ul{
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
