
@media (max-width: 1200px){

    .wrapper{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 60px auto;
    }
    .chatbot-header{
        display: block;
        z-index: 5;
    }
    .chatbot-header nav{
        margin: 5px auto;
        max-width: 700px;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .chatbot-logo{
        width: auto;
    }

    .drawer{
        display: block;
    }
    .chat-container{
        grid-column: 1;
    }
    .chatbot-info-container{
        position: absolute;
        padding-top: 80px;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: var(--main-backgrond);
        display: none;
        overflow-y: scroll;
    }
    .chatbot-questions-container{
        width: 100%;
        display: none;
        position: absolute;
        padding-top: 80px;
        height: 100vh;
        z-index: 1;
        background-color: var(--main-backgrond);
    }
    .section-active{
        display: block;
    }

    /* .drawer-container{
        
    } */
    .list-buttons{
        display: flex;
        flex-direction: column;
    }

    .list-buttons button{
        padding: 18px 0px 30px;
        font-size: 1.5rem;
        text-align: center;
        transition: all 200ms;
        border: none;
        cursor: pointer;
        color: var(--font-color);
        background-color: transparent;
    }
    .list-buttons span{
        padding-bottom: 4px;
    }
    .list-buttons button:hover{
        background-color: var(--header-background);
    }
    .list-buttons button:hover > span{
        border-bottom: 1px solid white;
    }

}

@media (max-width: 700px) {
    .chat-container{
        width: 100%;
    }
    
}
@media (max-width: 475px) {
    .chat-container input{
        width: 60%;
    }
}